.tab-active {
    /* border-color: #e16540 !important;
    background-color: #e16540 !important; */
    border-color: #E1643F !important;
    background-color: #E1643F !important;
    color: white !important;
    font-weight: bold;
}

.custom-card {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

:root, [data-theme] {
    background-color: transparent;
    color: var(--fallback-bc, oklch(var(--bc) / 1));
}

@layer base {
    :root {
        --tw-color-primary: darksalmon; /* Override the primary color */
    }
}
